services:
 gateway:
  build: ./server
  ports:
   - "3000:3000"
  env_file:
   - ./.env
  depends_on:
   - redis
   - ollama
  restart: unless-stopped

 redis:
  image: redis:7
  ports:
   - "6379:6379"
  volumes:
   - redis-data:/data
  restart: unless-stopped

 ollama:
  image: ollama/ollama:latest
  ports:
   - "11434:11434"
  volumes:
   - ollama_data:/root/.ollama
  restart: unless-stopped

volumes:
 redis-data:
 ollama_data:
